@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .product-item:nth-child(even) {
    background: #293d6d;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .bg-app {
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  }
}
